# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Environment variables
.env

# Ignore raw data and large files
data/
*.csv
*.json


# outputs/

!outputs/
!outputs/plots/
!outputs/plots/**/*
!outputs/tables/
!outputs/tables/**/*
